[2019-01-14 22:59] plexey opened #1 "Branch containing slashes"
Error when branch name contains slashes

[2019-01-14 23:00] plexey opened #2 "New feature request: Pass environment name through to settings"

[2019-01-15 00:45] evanderkoogh commented on #1
Made the refs parsing code more robust.

[2019-01-15 00:45] #1 closed

[2019-01-15 04:32] plexey opened #3 "Recent builds enhancements"
- [x] Make row on commits table a link to commit overview
- [x] Clicking user shouldn't do anything special
- [ ] If there's a PR present for a branch, have a link to it

[2019-01-17 04:16] evanderkoogh commented on #2
Won't implement this as it is impossible to do this consistently for all environments because production is out of our hands.

We will probably implement a LINC_PREVIEW settings to test whether you are looking at a preview link

[2019-01-17 04:16] #2 closed

[2019-01-17 04:18] evanderkoogh opened #4 "There is no way to add or create a site on the sites overview screen"
![image](https://user-images.githubusercontent.com/890386/51295314-2c62b500-1a6b-11e9-9986-819b9e1cd8aa.png)

[2019-01-29 04:17] plexey opened #5 "Commits by branch - pagination not working correctly"
### Description

Fetching additional list items chronologically prior to the last item listed no longer works. Instead, items that are currently displayed appear to be re-fetched and then appended to the bottom of the existing list.

[2019-02-06 04:28] Nibblesh opened #6 "Ignore CLI Skip commit flags"
ignore
\*\*\*NO_CI***
[skip ci]
[ci skip]

[2019-02-06 04:45] evanderkoogh commented on #6
Hey @Nibblesh, thanks for that. We do plan to support this in the future, but is not on our short-term roadmap. We are working on some really exciting new features.

And as we pick up the tab for any build compute resources used it will automatically rise to the top of our priorities if more customers start using it 😄

[2019-02-06 04:50] evanderkoogh commented on #3
Moving the PR link to a Trello card on the Roadmap. Rest were done

[2019-02-06 04:50] #3 closed

[2019-02-07 04:53] plexey commented on #5
Fixed

[2019-02-07 04:54] #5 closed

[2019-02-11 04:10] plexey commented on #4
Added link to `/add/site`

[2019-02-11 04:10] #4 closed

[2019-02-25 06:09] evanderkoogh opened #7 "HTML Tags in the Github Slack integration"
The Github/Slack integration includes all the HTML tags that make the PR interface looks so pretty.

<img width="623" alt="screen shot 2019-02-25 at 4 48 21 pm" src="https://user-images.githubusercontent.com/890386/53317660-a450b480-3920-11e9-9a04-880f95101831.png">

[2019-03-25 05:59] evanderkoogh commented on #7
This was with an old & no longer supported Github Slack client.

[2019-03-25 05:59] #7 closed

[2019-04-11 04:55] qnm opened #8 "Current Release has not updated nor deployed [digivizer]"
**Describe the bug**
After committing to the master branch (which was a squash commit), the Current Release has not updated nor been deployed.

**To Reproduce**
Steps to reproduce the behavior:
1. Accept a PR and commit to the master branch

**Expected behavior**
The master branch should be deployed. It was not.

**Additional context**
Add any other context about the problem here.

[2019-04-11 05:17] evanderkoogh commented on #8
Hey @qnm. I am working on this right now. Will update when I have more info.

[2019-04-12 00:04] evanderkoogh commented on #8
@qnm I have managed to track down the problem and it looks like there was a glitch in some of the DynamoDB triggers. I have manually fixed your data and that released your site.

I have a request outstanding with AWS to investigate the root cause of this and an internal issue to detect this and notify us when it happens.

Thanks!

[2019-04-12 00:04] #8 closed

[2019-04-24 07:09] jxom opened #9 "Linc having trouble accessing package.json"
**Describe the bug**
Hey!

Linc is having a bit of trouble locating the package.json for [Fannypack](https://github.com/fannypackui/fannypack).

In the build log I am getting:

[code]

It does exist - so I'm not too sure why I'm getting this kind of error!

This seemed to be working a few commits ago, so not too sure why it's not working all of a sudden.

**Screenshots**
<img width="678" alt="Scre

[2019-04-24 07:16] evanderkoogh commented on #9
Hey @jxom. That shouldn't be happening at all. I will investigate :)

[2019-04-25 13:19] evanderkoogh commented on #9
@jxom The mystery deepens. I have located the problem. The webhook we get from Github includes a commit_sha that is not the commit-sha of the head_commit for all your recent commits.

Now I have no clue how that could possibly be the case. Did you make any change in git/Github around the time it went wrong?
Tomorrow I will roll out a fix that will instead look at the head commit for the commit-sha

[2019-04-25 22:49] jxom commented on #9
Nope, didn't change anything with GitHub :\

Thanks!

[2019-04-29 05:32] #9 closed

[2019-05-09 06:05] qnm opened #10 "Not clear no redeploy is needed on environment change"
**Is your feature request related to a problem? Please describe.**
If I change a key for my integration environment, I also want to re-deploy to ensure that key is in place.

**Describe the solution you'd like**
A mechanism to re-deploy when the environment changes

**Describe alternatives you've considered**
I can create a dummy commit and make it deploy but...

[2019-05-09 06:08] evanderkoogh commented on #10
Hey @qnm. The settings are passed in at request time, so it shouldn't require a redeploy.
Is there a problem that you do not see the change reflected?
Or did you just expect there to be a redeploy needed and we need to make clear that isn't needed?

[2019-05-17 05:04] qnm commented on #10
@evanderkoogh Ah - I assumed I needed to re-deploy. Thanks!

[2019-05-17 05:06] evanderkoogh commented on #10
Thanks! I will work with @plexey to see what we can do to make it clearer that that isn't required.

[2019-05-23 02:34] Nibblesh opened #11 "Change URL for preview links associated to a site"
**Is your feature request related to a problem? Please describe.**
I would like to rename a project's url after creation

**Describe the solution you'd like**
Allow site to be edited including slug

**Describe alternatives you've considered**
allow clone project and delete project where new project can copy environments and edit slug and name before creation

[2019-06-17 03:47] mattdarveniza opened #12 "gradient visual bug in Safari"
**Describe the bug**
The fade-out gradients in the build grid don't appear correctly in Safari

**To Reproduce**
Steps to reproduce the behavior:
1. Head to `https://app.linc.sh/sites/your-site-here` in Safari
2. Observe gradients on each build looking weird

**Expected behavior**
Text fades out on the right when it exceeds the length of the grid cell

**Screenshots**
<img width="2270" alt="Screen

[2019-06-19 01:37] Nibblesh opened #13 "Slack integration request"
**Is your feature request related to a problem? Please describe.**
Team members without github access need to be sent linc preview links manually by developers.

**Describe the solution you'd like**
Ideal solution would be to be able to configure an integration with Slack, allowing builds that match a glob or multiple globs, to push a notification to a configured Slack channel.

[2019-06-19 01:42] geelen commented on #13
Ooh I like the glob idea!

Got any thoughts about what kind of info you'd want for each new preview link? I'm thinking something like:

[code]

Do you think that'll be enough context for your non-github peeps without being spammy?

[2019-06-19 01:45] Nibblesh commented on #13
This seems reasonable!

My personal situation is that when we have visual changes percy.io sends a request link with branch and commit info. See image:

![image](https://user-images.githubusercontent.com/9124852/59730930-8d472100-9287-11e9-8129-43b6d6980d40.png)

so basically I want for the non github users to find the relevant linc preview link for the percy visual regression request

[2019-06-20 04:26] qnm opened #14 "Provide latest git commit SHA as an environmental variable"
**Is your feature request related to a problem? Please describe.**
Configuration of Rollbar requires a version string (e.g. latest git commit SHA) to correctly identify source maps.

**Describe the solution you'd like**
I'd like a method to access the latest git commit SHA and include it in our codebase.

**Describe alternatives you've considered**
Can't think of another way to achieve this bar ma

[2019-06-21 01:44] evanderkoogh commented on #14
Hey @qnm. Thanks for this.

One of the things we wanted to do with Linc and FABs is to get a directly traceable output from version control and to rebuild/redeploy as little as possible.

One of those things is that we don't rebuild for every commit if we can detect that the `tree_id` of the repository is the same.

And we can pass in the `tree_id` in an environment variable with little hassle, bu

[2019-06-21 02:06] evanderkoogh commented on #14
@qnm I have added an environment variable called`GIT_TREE_ID` to the `linc:setup` and 'build:fab` steps.

So you can use that for now if you want. It will just mean it will push out a change to product on every change to your repo, not just on every change to production code.

Glen and I will have a proper chat next week on how to properly solve your problem.

[2019-06-24 06:38] qnm commented on #14
Thanks @evanderkoogh. I've added and `env` command to the script that runs as part of `build:fab` and I'm not seeing the `GIT_TREE_ID` value there.

Happy to provide input to any solution you come up with. The versioning value used by Rollbar does not have to correlate with git; git just happens to provide a useful proxy value for version!

[2019-06-24 07:45] evanderkoogh commented on #14
Hmm.. that is interesting? Let me have a check. I may have only released it to our own builds, not released it publicly. Will double-check tonight.

And yeah I got Rollbar doesn't need to correspond with Git. The ideal solution AFAICT is a hook in `fab-compile`/`fab-static` that allows you to tweak something small like this. In this instance a checksum of the client-side javascript would be the be

[2019-06-24 08:09] evanderkoogh commented on #14
Well @qnm, I am not saying I only released it internally, but I am also not saying I didn't only release it internally ;)

Can you try the `GIT_TREE_ID` thing again?

[2019-06-24 23:49] evanderkoogh commented on #14
Closing this issue after creating one in the fab repository because we can solve it better over there.

[2019-06-24 23:49] #14 closed

[2019-06-24 23:51] evanderkoogh commented on #11
At least not yet. We can do this manually for you, contact the support email address for help.

[2019-06-24 23:51] #11 closed

[2019-06-25 23:37] qnm commented on #14
Looks like it's working now. Thanks Erwin!

[2019-06-26 00:20] plexey commented on #12
Gradient bug should be fixed now in the latest release. @mattdarveniza can you confirm that it's working?

[2019-06-26 00:24] mattdarveniza commented on #12
Yep looks good! Thanks.

[2019-06-26 00:24] #12 closed

[2019-06-26 00:50] qnm opened #15 "Source Map request is forbidden using Lambda@Edge deployment"
**Describe the bug**
Having completed the last change related to enabling Rollbar on our SPA, we're now hitting a new problem when Rollbar attempts to download the source map for our bundle.

The server is returning a 403 response.

**To Reproduce**
I've captured an example here:

<img width="887" alt="image" src="https://user-images.githubusercontent.com/5343/60143032-c17a8e80-97ff-11e9-8a82-8afb

[2019-06-26 02:36] evanderkoogh commented on #15
Hey @qnm, I think I figured out what the problem is.

When your static assets are not in `/_assets` after building (like in the case of CRA, which puts them in `/static/`, `@fab/compile` will create redirects from `/stuff/*` to `/_assets/_public/stuff/*` and  also include a fingerprint in the URL. This works really well, except in this case, where someone is looking up something relative to the re

[2019-06-26 04:46] Nibblesh opened #16 "Preview links to specific environments on table view"
**Is your feature request related to a problem? Please describe.**
I would like to click the preview link to a specific environment without having to go into the build results page

**Describe the solution you'd like**
Couple of different features which would make this more reasonable, but they would also work together

1) Allow per user or per org default preview environment. e.g. if selected as

[2019-06-26 05:03] evanderkoogh commented on #15
@qnm Can you give @geelen access to the repository again? He'll set it up a config that will output your static assets to `/_assets` so you won't have this problem.

Excuse us while we figure out the best to drive adoption of FABs forward. The end-goal is clear, but there is a lot of messy bits interacting with each other before we get to the point where framework output it natively and it is unde

[2019-06-26 05:08] evanderkoogh commented on #16
Hey @Nibblesh, this is good feedback. We will be having a look on how improve this use-case.

[2019-06-26 05:34] qnm commented on #15
No problems @evanderkoogh , I've added @geelen to our repo again.

[2019-06-26 07:33] plexey commented on #13
Alrighty, so been putting together some Linc slack integration:
![image](https://user-images.githubusercontent.com/19183324/60159997-c0fdea00-9837-11e9-9aee-6d97ba619a69.png)
We'll soon be extending the Linc UI to add a slack webhook url settings field, but for now I'll just PM you with setup instructions @Nibblesh.

[2019-07-04 01:16] plexey commented on #13
Slack webhook URL configuration UI is now live:
![image](https://user-images.githubusercontent.com/19183324/60633246-1bf19b80-9e4d-11e9-8249-34c5d122364f.png)
We'll hopefully be extending this feature more over the next few weeks.

[2019-07-04 01:17] #13 closed

[2019-07-04 03:43] geelen commented on #15
Hey Rob, apologies for the delay in replying. I've submitted a pull request
<https://github.com/digivizer/frontend/pull/581>with the necessary changes.
If you'd like to give that a look and get back to me if you think there are
any update needed?

Cheers,
-glen.

On Wed, 26 Jun 2019 at 15:34, Rob Sharp <notifications@github.com> wrote:

[2019-07-05 04:52] plexey commented on #16
Hi @Nibblesh, we've just released a feature fulfilling the functionality you requested.

Our solution differs slightly from the one you described insofar as we render a preview link for each environment per commit in place of the original single preview link icon:
![image](https://user-images.githubusercontent.com/19183324/60698589-6cdbbf80-9f33-11e9-8149-047b78e27cb1.png)

We wen't through a vari

[2019-07-08 03:54] #16 closed

[2019-07-11 03:49] Nibblesh opened #17 "Branches list page"
**Is your feature request related to a problem? Please describe.**
I can't use the linc site to find a branch's build if it isn't in the recent list

**Describe the solution you'd like**
A page that has all of the branches

**Describe alternatives you've considered**
search bar with autocomplete for branch name on the recent builds page that allows you to open the branch page for things that don't

[2019-07-24 01:58] Nibblesh opened #18 "Linc Environment Variable substitution"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When we deploy our application we throw some build information into request headers so that we can trace the application version that causes issues.

While this is something that is fairly easy for custom deployments that use the lambda ed

[2019-07-24 05:52] evanderkoogh commented on #18
Hey @Nibblesh. Where you do want this information? In the Linc preview environments, your production environment or both?

[2019-07-24 13:09] Nibblesh commented on #18
both

[2019-07-30 02:15] qnm opened #19 "Master deployment has stalled"
It looks like #8 has resurfaced.

**Describe the bug**
After committing to the master branch (which was a squash commit), the Current Release has not updated nor been deployed.

**To Reproduce**
Steps to reproduce the behavior:

1. Accept a PR and commit to the master branch

**Expected behavior**
The master branch should be deployed. It was not.

**Screenshots**
<img width="990" alt="image" src="

[2019-07-30 02:28] geelen commented on #19
Taking a look!

[2019-07-30 02:48] geelen opened #20 "Linc test statuses on PRs"
Right now failing Linc tests will prevent releases, but won't communicate that back to a PR. We just need to close this loop.

[2019-07-30 02:49] geelen commented on #19
Ah, it looks like something you merged in (from dependabot) caused your commits on master to fail. Linc will only release commits to production with passing tests (preview links still get generated though). But we aren't passing that info through as a github status, so there was no red flag on that PR that would have prevented a merge.

Check https://app.linc.sh/sites/digivizer/commits/master and

[2019-07-30 02:49] #19 closed

[2019-07-30 03:07] qnm commented on #20
@geelen Would be appreciated, thanks!

[2019-10-07 23:30] Nibblesh opened #21 "Windows scrollbars"
**Describe the bug**
![image](https://user-images.githubusercontent.com/9124852/66356382-7b17fc80-e9b6-11e9-99e3-27564d824af6.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Be on windows

**Expected behavior**
Be on MacOs

[2019-11-04 01:05] wee007 opened #22 "Failed to check out commit during build"
I have force pushed my changes to github and the linc build failed even after a rebuild with the following error:

[code]

[2019-11-04 01:08] evanderkoogh commented on #22
Hey @wee007. That shouldn't happen. I'll take a look at it immediately.

[2019-11-04 01:12] wee007 commented on #22
Thanks @evanderkoogh !

[2019-11-04 01:21] evanderkoogh commented on #22
Just send you an email at your personal (Github registered) account with some followup questions.

[2019-11-04 01:22] evanderkoogh commented on #21
@plexey Didn't you look into this?

[2019-11-04 01:26] wee007 commented on #22
@evanderkoogh responded to your email.

[2019-11-04 02:47] evanderkoogh commented on #22
For other people who run into this issue, it has to do with force pushing a rebase. The workaround is to just push a new commit on top of the other commit until we have fixed the issue.

[2019-11-04 02:51] evanderkoogh commented on #18
We are currently considering an addition to the FAB spec to include information like bundle_ids and potentially commit URLs as a third `context` variable passed into the render method.

[2019-11-04 02:53] #15 closed

[2019-11-04 02:53] #10 closed

[2019-12-04 09:55] geelen opened #23 "Commit statuses on non-PR commits"
We're already building every commit, but only actually telling GitHub about commit statuses for open PRs. Commit statuses should bypass the PR workflow.

[2019-12-20 01:02] Nibblesh opened #24 "Escape branch build strings for URLs"
**Describe the bug**
Branch links don't work if the branch name contains special characters, e.g. `#`,`/` etc.

**To Reproduce**
Steps to reproduce the behavior:
1) build a branch with a special char in branch name,
2) use the "latest build" button in linc's UI to go to page.

[2020-01-06 23:59] plexey commented on #24
Good catch.

Fixed - branch names in URLs are now being sanitised.

[2020-01-06 23:59] #24 closed

[2020-01-22 01:08] seonggwonyoon opened #25 "Delete project on Linc"
**Is your feature request related to a problem? Please describe.**
I would you like to delete the added site.

**Describe the solution you'd like**
Delete a site that has already been added.

**Describe alternatives you've considered**
Deactivate a site that has already been added.

[2020-01-22 01:33] #25 closed

[2020-01-22 01:34] evanderkoogh commented on #25
We haven't build this functionality yet. But emailed you to delete it manually.

[2020-03-18 03:16] qnm opened #26 "Files under PUBLIC_URL should be exposed directly without redirect"
**Describe the bug**
We use the public directory as a place to store things that have to be referenced outside of the react app, such as images to be used in OpenGraph definitions, which are referenced from `public/index.html`.

I see that URLs which reference images in `/public` are redirecting to the compiled location.

e.g.

[code]

OpenGraph consumers don't always resolve the redirects, which

[2020-03-18 03:20] qnm opened #27 "Unable to use react-scripts 3.4.0 with Linc"
**Describe the bug**
Upgrading to `react-scripts` 3.4.0 fails on build. I suspect this is due to the `rewired` configuration added by @geelen but as I'm not 100% sure what the configuration does, I'm looking for a little help to resolve!

The original change is in https://github.com/digivizer/frontend/commit/556d495740c0888da7ddd23298a834d7e852c63c

[code]

**To Reproduce**
Steps to reproduce the

[2020-03-18 04:30] evanderkoogh commented on #26
Hey @qnm, thanks for letting us know about the OpenGraph consumers. That is good to know.
Will have a solution for this once we have released a stable FAB v1, which we should have out in the next week or so.

@geelen, would a workaround be until that time to check in the assets into `public/_assets/platform.d59298f38.jpg` and reference it as `/_assets/platform.d59298f38.jpg` in the html template?

[2020-03-18 04:32] evanderkoogh commented on #27
@geelen will have a look at this our tonight/his morning. Hopefully should be solved by the time you wake up tomorrow ;)

[2020-03-18 21:47] geelen commented on #26
Hey @qnm, so this was a long-standing issue with the old FAB implementation, but the good news is, FAB v1, which I've been working on for the last few months, is _extremely_ close to being released. So the best thing would be to upgrade to that.

I'm happy to schedule a time with you to take you through this, but basically what you need to do is this:

* Make a branch off your current `master` or

[2020-03-18 21:47] geelen commented on #27
This should be fixed by upgrading to FAB v1 alpha. Instructions left in https://github.com/bitgenics/linc/issues/26#issuecomment-600875263 but I'll leave this issue open as well in case there's any hiccups.

[2020-03-23 05:23] qnm commented on #26
Hi @geelen

I've installed the fab as requested, it installed ` @fab/cli@0.0.7-alpha.16`.

Here's what I see:

[code]

[2020-03-23 18:53] geelen commented on #26
Damn, that was my mistake, sorry. I was depending on a dependency of a devDependency, which works on my machine and CI just fine, but... nowhere else.

Pushed `alpha.17` which has this fixed and I've confirmed on a blank machine that it should run, give that a try and let me know if you have troubles?

[2020-03-23 22:44] geelen commented on #26
I've also just fixed CI to catch this sort of bug in future too, so sorry for making you the canary in that particular coal mine!

[2020-03-23 23:21] qnm commented on #26
Still working through this, just noting this as I go. The `fab init` didn't expect to see `fab` and `fab.zip` in my `.gitignore` and added them again:

[code]

[2020-03-23 23:57] geelen commented on #26
Damn, that happened with buildkite as well. Have pushed some code and a reminder to fix it properly tomorrow, cheers.

[2020-03-25 03:30] qnm commented on #26
@geelen Thanks, this seems to be building now.

Does FAB_SETTINGS now work differently? My variable `window.FAB_SETTINGS.REACT_APP_SEGMENT_WRITE_KEY` is now `undefined`.

Did I miss something in the docs?

[2020-03-25 17:13] geelen commented on #26
Ah no, _I_ missed something in the docs. `production-settings.json` has been moved to the `production` section of the `settings` section of your `fab.config.json5`. You should be able to copy-paste it straight across:

[code]

Have added this little prompt to `fab init` for the next people to run into it:

![image](https://user-images.githubusercontent.com/23264/77542778-9ca26d00-6e9e-11ea-91e4-33

[2020-05-05 02:23] qnm opened #28 "Incorrect GH Notification and missing Slack notifications"
**Describe the bug**
A recent commit to master failed to deploy, and we were unaware of the issue.

The build failed this way:

![image](https://user-images.githubusercontent.com/5343/81029999-7ecb1d80-8eca-11ea-8404-fe41de907f63.png)

![image](https://user-images.githubusercontent.com/5343/81030013-8c80a300-8eca-11ea-9cbd-d8108e02f640.png)

Additionally, the branch passed checks in GitHub (but NO

[2020-05-05 03:00] evanderkoogh commented on #28
Hey @qnm.. that is an interesting edge case..

What happened is that the Github errorred when we requested the package.json file, which means that we didn't start the build at all and we set the status to `ignored`

That is all standard behaviour, but I agree that we either should not report the check at all, or we should report a failure, but shouldn't report a pass in any circumstance.

@plexey,

[2020-05-05 03:03] evanderkoogh commented on #27
Hey @qnm, did you get around to upgrading to the new FAB tooling? @geelen rewrote it from scratch to be more modular, reuseable and fixes a lot of issues with the older tooling.

We are currently gearing up for a public release, so we are working on the docs a lot. So if you need any help, please give a shout: https://fab.dev/

[2020-05-05 03:03] evanderkoogh commented on #23
@plexey shipped this recently.

[2020-05-05 03:03] #23 closed

[2020-05-05 03:04] #22 closed

[2020-05-05 03:05] evanderkoogh commented on #20
@plexey shipped this last week. Now reporting all testing statuses to both PRs and regular commits.

[2020-05-05 03:05] #20 closed

[2020-05-14 01:38] qnm opened #29 "Unable to deploy using Cloudflare Workers"
**Describe the bug**
I've attempted to add Cloudflare Workers to our account (intending to work in addition to AWS - for now) but I see the follow error when doing so.

![image](https://user-images.githubusercontent.com/5343/81882949-57b1d180-95d7-11ea-943e-230c0694f17b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Add CF Workers deployment details
2. Save and Deploy
3. See failure

*

[2020-05-14 03:53] evanderkoogh commented on #29
Hey @geelen, this looks like a FAB issue? We rolled out the new Cloudflare deployers on Linc right? Can you have a look?

[2020-05-14 11:53] qnm commented on #26
Hey @geelen

Sorry for the huuuuuuge delay responding here.

This is where I got to:

![image](https://user-images.githubusercontent.com/5343/81931356-4dbabd80-962d-11ea-9a37-d4a366dd16b4.png)

[2020-05-14 12:09] qnm commented on #27
Hey @evanderkoogh

I never got around to merging it and now I’ve upgraded to the latest version, hit a wee snag and dropped an update in the other issue referenced above.

[2020-05-18 03:57] qnm opened #30 "Locale differences in the Linc build environment"
**Describe the bug**
I'm seeing a test discrepancy between our own CI environment, which is Github Actions based, and that of Linc.

This appears to relate to locale - which I am sure is not being set explicitly inside the GH Actions CI environment.

![image](https://user-images.githubusercontent.com/5343/82172997-3b7f9e80-990f-11ea-81c7-980514298e2d.png)

It's entirely possible this related to my

[2020-05-18 05:52] evanderkoogh commented on #30
Hey @qnm, I am very glad my first hunch was correct, otherwise this could have been an amazing rabbit hole. The difference isn't in Locales, but Node versions.

Basically Node changed their output somewhere between the last Node LTS version (`12.16.2`) and the currently stable version (`13.10.1`).

I ran the following snippet in Node `12.16.2` and `13.10.1` & latest Firefox
[code]

Node 12.16.2 ->

[2020-05-18 05:52] #30 closed, assigned to nobody

[2020-05-19 22:19] geelen commented on #26
Hey @qnm, apologies for the delays at my end as well. That bug looks like a package name that changed in the lead up to the version 1 RC of FABs. The package `@fab/serve-html` is now called `@fab/plugin-render-html`.

Best thing to do would be run `npx --ignore-existing fab init -y` and compare your `git diff` afterwards. It should have renamed your packages in your `fab.config.json5` and added th

[2020-05-19 22:28] geelen commented on #29
Hey @qnm, the new Cloudflare Workers deployer only works with the newer versions of FABs, as does the new Lambda releaser. Your existing code is on the older Lambda releaser, which we've deprecated (we didn't mean to hide it from the settings screen, apologies about that).

If you can get a FAB v1 building on a branch as part of #26, we can pick a time to cut you over to the new releasers. We're w

[2020-05-20 04:28] plexey commented on #28
Hi @qnm
You should now receive a report of an `ignored` build status in both GitHub and in Slack.

In GitHub, a build with an `ignored` status will resolve to a failed status check on a commit:
![image](https://user-images.githubusercontent.com/19183324/82404822-9fd46680-9aa5-11ea-916e-13cd814559f0.png)

In Slack, a build with an `ignored` status should resolve to a build failure Slack notificatio

[2020-05-20 05:21] #28 closed, assigned to plexey

[2020-05-21 04:01] qnm commented on #26
After upgrading to FABv1 I can confirm this works as I would expect. Thanks team!

[2020-05-21 04:22] qnm commented on #26
@geelen Sorry, that was premature. I deployed the FABv1 to production and it failed to deploy! The preview URL worked as expected.

[2020-05-21 04:26] qnm commented on #29
@geelen There's a branch called 'fab' that contains the FABv1 migration.

[2020-05-21 06:35] evanderkoogh commented on #26
That is no good @qnm. @geelen should be looking at this soon.

[2020-05-21 12:13] geelen commented on #26
Hey @qnm just been trying to dig into this and figure out what's going wrong.

The bundle `c0b336164` (the one at this URL https://digivizer--c0b336164--production.linc-preview.sh/) looks like it was successfully released to both CF workers and AWS Lambda, but I'm guessing you rolled it back because it failed once it was in production?

Can you confirm that the _deploy_ worked but it was broken on

[2020-05-21 12:38] geelen commented on #26
So, options from here, the new Lambda@Edge releaser should be compatible with the old and new FABs just fine, it's just a matter of switching your site to the new config behind the scenes. What that would involve is this:

1. Keep the current `master` as our deploy target (i.e. FAB v0)
2. Bump you to the V2 releaser, which will trigger a redeploy
3. Verify everything worked

4(A). If anything brea

[2020-05-21 13:58] qnm commented on #26
@geelen Hey! If I’m honest I’m not sure if the deploy was successful. What I saw was Cloudflare trip into offline mode as a 503 was being shown when hitting a URL, which think would be /performance.

I rolled back as the Slack DMs rolled in ;)

For your understanding we use Cloudflare in front of Edge. Not ideal but the reason I would like to move to workers.

[2020-05-21 14:01] qnm commented on #26
@geelen Happy for you to try the V2 releaser approach.

[2020-05-21 15:10] geelen commented on #26
Ok, have done. Seemed to release without issue. You can now try deploying to CF workers as well.

I would recommend switching your release branch to `fab` at https://app.linc.sh/sites/digivizer/settings, rather than merging/reverting, since it's much faster roll back if anything goes wrong. Once you've confirmed it deployed ok, merge it to master and change the release branch back.

[2020-05-21 23:18] qnm commented on #26
Perfect, all done!

[2020-05-21 23:18] #26 closed

[2020-05-21 23:19] qnm commented on #27
This is confirmed working with FABv1. Thanks!

[2020-05-21 23:19] #27 closed

[2020-05-21 23:20] qnm commented on #29
@geelen This is now deployed however the site is not accessible using the `workers.dev` URL.

`522` error from Cloudflare.

Root

[code]

Static File

[code]

[2020-05-22 05:43] plexey commented on #29
Hey @qnm, I think I may have fixed this.

I just had a quick look at your Cloudflare deployment config behind the scenes and noticed that no script name had been set.

This was likely caused by an API bug which has since been patched. I've now set the script name and triggered a re-deployment.

Here's what I'm currently gettting when curling your worders.dev domain:
[code]

[2020-05-22 05:50] qnm commented on #29
@plexey Ah! Thanks. I will add the relevant CORS to make that work.

When I want to use this on a domain, what (DNS) steps do I need to take, if any?

[2020-05-22 09:55] geelen commented on #29
All you need is a dummy DNS record for SSL, since every request is handled by the FAB running in the worker:

![image](https://user-images.githubusercontent.com/23264/82654816-31181a00-9c19-11ea-9271-8d5c94993ebe.png)

Linc will manage which domain to which FAB, though, so you only need to set up these DNS values once, and then they can just sit there (so you can start with `preview.digivizer.com`

[2020-05-25 01:02] qnm commented on #29
I've been able to deploy using Workers, thanks for your help!

[2020-05-25 01:02] #29 closed, assigned to geelen

[2020-05-25 23:26] qnm opened #31 "Dependabot Branch Build Not Accessible"
**Describe the bug**
Dependabot has generated a branch which is not accessible via the branch name URL. The commit URL works as intended.

Here's an example of a branch with this property:

https://app.linc.sh/sites/digivizer/commits/dependabot%2Fnpm_and_yarn%2Fintersection-observer-0.10.0

The commit build:

https://digivizer--15e446267--production.linc-preview.sh/

The branch build:

https://dig

[2020-05-26 01:42] plexey commented on #31
Hi @qnm,

Thanks for bringing this one to our attention. We'll look into it and try and get that fixed.

[2020-05-26 05:25] plexey commented on #21
This issue should now be fixed on Edge browser.
Apologies for leaving this one to languish so long.

[2020-05-26 05:25] #21 closed

[2020-06-02 04:40] plexey commented on #31
This issue should be fixed now @qnm

If you look at the branch preview URL that you provided us, it contains the label:

`digivizer--production--dependabotnpmandyarnintersection-observer-0100`

This label has a combined length of 69 characters, and it turns out that 69 characters exceeds [the URL label limit of 63 characters](https://en.wikipedia.org/wiki/Domain_Name_System#Domain_name_space).

As

[2020-06-02 05:36] #31 closed, assigned to nobody

[2020-06-29 00:17] qnm opened #32 "Commit was not deployed to production"
**Describe the bug**
My latest build did not deploy. It shows as being built, but did not deploy.

![image](https://user-images.githubusercontent.com/5343/85962005-91a52e80-b9f1-11ea-913b-6652c5931291.png)

![image](https://user-images.githubusercontent.com/5343/85962007-9b2e9680-b9f1-11ea-8e6a-618c78263825.png)

**To Reproduce**
Steps to reproduce the behavior:
Not sure!

**Expected behaviour**
L

[2020-06-29 01:48] evanderkoogh commented on #32
Hey @qnm. During my debugging this particular issue I accidentally released the correct version.

We are currently running a thorough tests through all our deployment logic to try and replicate it and if needed, make it more robust.

[2020-06-29 01:48] #32 closed, assigned to nobody

[2020-07-03 00:57] ryan-allen opened #33 "Vue 'one click install' !"
**Is your feature request related to a problem? Please describe.**
When I npx fab init on a app that was created with vue create it doesn't auto detect.

**Describe the solution you'd like**
Auto configure with Vue's defaults (which is npm run build and output is in /dist/)

**Describe alternatives you've considered**
Taking up a new hobby like whittling.

**Additional context**
Linc is really coo

[2020-07-03 02:04] evanderkoogh commented on #33
Hey @ryan-allen, we can all only aspire to be as smart and handsome as Glen.

As this is more a FAB related issue I have copied it over to the FAB repository in [an issue there](https://github.com/fab-spec/fab/issues/200)

[2020-07-03 02:32] #33 closed, assigned to nobody

[2020-07-23 02:05] evolve2k opened #34 "Error 10027: workers.api.error.script_too_large"
I'm using linc for the first time and am getting some strange deployment errors that mean that my site is not yet deploying corrrectly via cloudflare workers.

This error is displaying on my sites overview page:
`{"code":10027,"message":"workers.api.error.script_too_large"}`

Detailed version below:
[code]

I've checked the token permissions I have set and as the script is being generated by linc

[2020-07-23 03:14] evanderkoogh commented on #34
Hey @evolve2k, unfortunately Cloudflare Workers has a 1Mb limit on script sizes: https://developers.cloudflare.com/workers/about/limits/#script-size

You exceeding that limit usually has 2 causes, you either have a lot of server-side code that needs to be included (including stubbing out some NodeJS libraries), or you are including a lot of static HTML files.

If you have a lot of HTML files, we c

[2020-07-27 02:50] evolve2k commented on #34
Thanks @evanderkoogh.

### 1. Here's access to my repo
@geelen hope you're going well mate, I'd love you to have a look at my repo.
I've now given @evanderkoogh and yourself access to the repo.
It's a basic Nuxt Vue App that is set to generate a static site that I then bundle up into a fab.

### 2. I have another cloudflare script running to set Secure Headers

I currently have one script already

[2020-07-27 03:09] evanderkoogh commented on #34
Hey @evolve2k, yeah it is exactly what I thought. We currently inline all your HTML files into the server file that gets deployed to Cloudflare, so it will be too big indeed.
I think @geelen is about to work on externalising those HTML files, so we can support larger sites on things like Cloudflare Workers.

And the security headers situation is *exactly* why I am so freaking excited about FABs. I

[2020-07-27 03:13] evolve2k commented on #34
Thanks @evanderkoogh @geelen you folks are awesome!

[2020-07-28 01:02] evanderkoogh commented on #34
Hey @evolve2k, @geelen got around to working on this yesterday. See https://github.com/fab-spec/fab/pull/214

It is released as `v1.0.0-rc6`. Would love for you to give it a go and let us know if that fixed the problem.

[2020-08-05 23:55] qnm opened #35 "Unable to deploy due to "Authentication Error""
**Describe the bug**
Currently unable to deploy due to some Authentication Error.

The following is shown on the main Linc screen:

[code]
As far as I can tell, the CloudFlare configuration is unchanged from previously successful deploys.

**To Reproduce**
Steps to reproduce the behavior:
Unsure. This has just started happening.

Linc builds for branches are working correctly.

**Expected behavior

[2020-08-06 01:11] evanderkoogh commented on #35
Hey @qnm, I sorry this happened. I just tried to reproduce it and couldn't, and released your site properly. It looks like it was a fluke on Cloudflare's side.

The good news is that we are going to ship a retry release button to the UI *today* in case it happens again in the future.

[2020-08-06 01:11] #35 closed, assigned to nobody

[2020-08-12 02:13] evolve2k commented on #34
Hi Erwin, sorry for the delay.

I've gone and tested it and can't get it working.
Initially I thought it was because maybe I'd made other code changes and
I've spent time going through and attempting to debug this myself and in
the process have made a
stack of test branches and minor code changes towards attempting to fix the
build errors.

The code is breaking with this error:

   - [fatal] Nuxt

[2020-08-12 11:07] evanderkoogh commented on #34
Hey @evolve2k, the problem is always at our end. Either there is a bug, or we haven't explained well enough how to do it properly :)
@geelen will take a look at this as soon as possible and let you know which one of those two things it is.

[2020-08-12 13:51] geelen commented on #34
Hey @evolve2k, I... _think_ this is going to be a missing library on our end, though I'm really confused as to how you're ending up with that message so I might be wrong. `sass-loader` is a common problem though since it has some C library dependencies (it's one of the few JS libraries that does).

Still, that error message gives me pause... I would have expected the `npm ci` step to fail...

I'm

[2020-08-15 06:33] evanderkoogh commented on #34
Hey @evolve2k, apologies for not getting back to you earlier. But I finally had some time to dig around properly and I realised that the problem is that you set `NODE_ENV` to `production` in your build configuration. We already do that automatically for every call, except for `npm ci` and related installation commands, but if you run those with `NODE_ENV=production` they do not install the `devDep

[2020-08-17 02:41] evolve2k commented on #34
Thanks for your efforts with this.

@evanderkoogh whatever you did with your latest changes definitley helped and a few more of my builds are passing now, so that's great.

My main master branch is still having issues though.
$ npm run build:fab
$ npm ci

both run without problems locally.

Per the linc log the build seems to run the whole way and then just fails in the last step.

[code]

[2020-08-17 08:27] evanderkoogh commented on #34
That is really weird. Especially that it works on non-master branches and not on master? Could you try rerunning one? We just upgraded the memory significantly on the build machines, because some people were having issues with memory allocation.

[2020-08-17 08:38] evolve2k commented on #34
Oh I think it's not that it does or doesn't work on master/non-master branches, more that the collective code on my master branch is producing that output whereas branches from earlier that I have pushed out, built after your change when I attempted to rebuild them.

And I have no way of debugging why my latest master code is not working.. as it build fine locally.. and the error is unclear in lin

[2020-08-17 09:07] evanderkoogh commented on #34
Hmm.. Some more investigation reveals it is not an error building, but deploying the FAB. I am on it :)

[2020-08-17 10:32] evanderkoogh commented on #34
Ok @evolve2k, I figured out what the problem is. This could go straight into that Alanis song. The irony is that it fails on updating the database with the successful build information..

I know why it goes wrong, just have to figure out how to refactor a piece of code. Will be fixed tomorrow at the latest, lockdown permitting :)

[2020-08-18 08:35] evanderkoogh commented on #34
Hey @evolve2k, I have fixed that particular issue, but now all your builds just hang on `nuxt generate` indefinitely on node 13 and higher, and fail with a `Date` error on node 12 and below.

This happens on Linc, in the Docker container locally and when I check out the local source code. Could you check what happens to you on the last master commit and if it works what version of Node you are run

[2020-08-31 03:39] evolve2k commented on #34
Hi @evanderkoogh Im not totally sure what's been happening here.

Prismic Nuxt recommends two different approaches to getting started.
Their main webpage; basically leads to [this tutorial on their homepage](https://user-guides.prismic.io/en/articles/2831943-nuxt-js-sample-multi-page-website-with-navigation) and [this example app repo](https://github.com/prismicio/nuxtjs-website)

But their new Sl

[2020-08-31 03:45] #34 closed, assigned to nobody

[2020-08-31 04:42] evolve2k opened #36 "Cloudflare Workers & Cloudflare DNS Settings - Getting site running on custom domain."
**Describe the bug**
I have setup Cloudflare to host my DNS records AND have wired up Cloudflare Workers to deploy & host my site via FAB/Linc.

Previously I've used github pages to host static sites and have setup my DNS records [following github's guides](https://docs.github.com/en/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site#configuring-a-subdomain).

Wit

[2020-08-31 06:00] evolve2k opened #37 "Changed my release branch and permanetly broke the Fab deployment to CW"
**Describe the bug**
We chose to change our primary branch from 'master' to 'main' and in the process seem to have permanently broken FAB deployment to CW.

**To Reproduce**
Steps to reproduce the behavior:
1. Went Settings > Deploy within the linc project
2. Changed release branch from 'master' to 'main' both of which are valid branches in the github repo.
3. On the Linc Overview page, the Active

[2020-09-01 04:54] evanderkoogh commented on #36
Hey @evolve2k, are you hosting your DNS at Cloudflare? Because I just realised that the automatic configuration may only work if you host your DNS there too.

If not let me know and we will figure out what to do. You can only use CNAMEs to point to Cloudflare Workers if you have a Business or Enterprise account though I think?

[2020-09-01 04:56] evanderkoogh commented on #37
Hey @evolve2k, this has been a recurring issue with Cloudflare that we have seen over the past few weeks. It usually goes away in an hour or so. Can you retry the deploy?

[2020-09-01 05:06] plexey commented on #37
Hi @evolve2k ,

As @evanderkoogh mentioned, you can retry a deploy through the Linc interface:
![image](https://user-images.githubusercontent.com/19183324/91796654-16b3fa80-ec64-11ea-909f-ce7eb4bedb14.png)

Clicking this button will trigger a re-release which, among other things, can be handy if your deployments fail due to transient network issues.

We've triggered a re-release for your Linc site

[2020-09-01 05:47] evanderkoogh commented on #37
So changing the branch wasn't what broke it, that just triggered a re-release that ran into an issue with Cloudflare that was fixed with a retry a while later.

[2020-09-01 05:47] #37 closed, assigned to nobody

[2020-09-01 05:50] evolve2k commented on #36
YES 👍

I'm not fussy as to using A records or CNAME records.
Seeking github pages like functionality for supporting a custom domain.
Am attempting to do this all on the Cloudflare Free plan at this stage.

I've done some digging and the community seems to be saying I need to add a dummy A record.
https://community.cloudflare.com/t/setup-workers-on-personal-domain/88012

I'll await your response an

[2020-09-01 05:53] evolve2k commented on #37
Oh thanks again for looking. I seem to be good at bumping into all the things 😂
Yes can confirm on my end 'Deployment Status' once again has the green tick.

[2020-09-01 06:05] evanderkoogh commented on #37
Haha.. This is the one that is actually outside of our control for a change! :D

[2020-09-01 06:08] evanderkoogh commented on #36
If you are hosting your DNS, I think it should automagically configure your DNS for you, but I would have to defer to @geelen as he is the person who has by far more experience with that than I do.

You do indeed need a dummy record, so you can absolutely do that manually and it'll work. But I am pretty sure Glen pushed the feature for Linc to do that automatically. And in that case, you should be

[2020-09-02 13:55] geelen commented on #36
Hey @evolve2k, I'm still testing our DNS integration in Linc so it's behind a feature flag for the moment. So you'll need to set up a dummy A record manually (that's what Linc will do in future, btw).

If you use the `.workers.dev` subdomain that Cloudflare gives you that'll be autoconfigured, of course. We're aiming to get the same experience but for Linc sites on custom domains, it's just a bit

[2020-09-04 03:20] evolve2k commented on #36
All good. Thanks @geelen got that working.

@evanderkoogh quick improvement request.
When a user is new to linc and setting everything up, we're still pretty unsure what linc will do and what it wont.

Regarding this interface:

![Deploy_settings](https://user-images.githubusercontent.com/114459/92195550-7270c480-eeac-11ea-9279-6ab0095728a6.png)

That link "configure DNS records" currently forward

[2020-09-04 03:55] evanderkoogh commented on #36
This is an excellent suggestion @evolve2k. @geelen @plexey, can you make sure this is on a Trello card for release?

[2020-09-04 05:27] evolve2k commented on #36
Here's what I added to get everything working.

1. An A record for root pointing to 192.2.0.1 (dummy unused test network)
2. Page rule 301 redirecting www -> root

![DNS_____Account___Cloudflare_-_Web_Performance___Security](https://user-images.githubusercontent.com/114459/92202757-d00e0c80-eebe-11ea-9594-9c2391b3b46c.png)

![Page_Rules____Account___Cloudflare_-_Web_Performance___Security](https:/

[2020-09-04 05:27] #36 closed, assigned to nobody

[2020-09-05 01:03] evolve2k opened #38 "Supporting a Secure Headers Worker"
Before coming to Linc, I've been using CW to provide secure headers, per this guidance from  Scott Helme
https://scotthelme.co.uk/security-headers-cloudflare-worker

Now that my site is deployed to my domain with linc, I want to get secure headers configured.

When I was hosting with github pages, the security headers worker would just work.
It's not working now that the site is "hosted" in a CW i

[2020-09-05 04:41] evanderkoogh commented on #38
Oh no, we are extremely grateful for your help in figuring out where the gaps are in our documentation!

[FABs](https://fab.dev) are **designed** to include all the [server-side logic](https://fab.dev/guides/adding-server-side-logic) you want. The example [Attaching a FAB bundle ID header to all outgoing responses](https://fab.dev/guides/adding-server-side-logic#attaching-a-fab-bundle-id-header-to

[2020-09-05 04:46] evanderkoogh commented on #38
Created an issue on the FAB repo to track this: https://github.com/fab-spec/fab/issues/233

[2020-11-05 00:35] qnm opened #39 "Platform connection issues should have email/slack alerts, too"
**Is your feature request related to a problem? Please describe.**
I logged into Linc to see the following alert.

![image](https://user-images.githubusercontent.com/5343/98182718-8db68980-1f5a-11eb-8334-a20e18958196.png)

**Describe the solution you'd like**
It would be much more useful if that alert came to me, using email or slack or something!

**Describe alternatives you've considered**
I cou

[2020-11-05 01:54] evanderkoogh commented on #39
You are absolutely right @qnm. We will get on that as a matter of priority. We are currently wrapping up a public launch for next week, but after that it will be top of our list. We will reach out when we have something.

[2020-11-13 06:07] evolve2k opened #40 "Auto deploy from Prismic Headless CMS when a content writer publishes a new article AKA help me get webhooks working"
My project runs Prismic Headless CMS with Nuxt and deploys via Linc to Cloudflare Workers.

When I commit changes to my main branch, everything deploys correctly with Linc including pulling the latest dynamic data from my headless CMS (prismic) and rolling that into the static FAB bundle.

Now I want to support when my end user (content writers) make changes in the Prismic Writers Room and go to d

[2020-11-13 06:09] evolve2k commented on #40
Here's the UI on Prismic's end fwiw, the documentation url is the page included above.

![prismic_io_-_braveenergysystems](https://user-images.githubusercontent.com/114459/99035073-b54ac900-25ce-11eb-996e-fd7529615cca.png)

[2020-11-14 16:16] geelen commented on #40
Hey Richie, we don't have a mechanism for content-driven rebuilds at the moment and might not for a little bit. What you'd need to do is trigger a git commit on your repository somehow, potentially there's a way to do that with Github actions?

Basically, Linc has a fairly fundamental assumption that a build should be idempotent, so building commit A always gives bundle B. But if you're accessing

[2020-11-17 06:44] evolve2k commented on #40
That makes good sense generally.

Appreciate the guidance.

I'm going to work towards that exact approach of adding a timestamp to a log file using github actions.

Thanks for the guidance. All good.

When I work out how to do it, I'll come back here and update this issue for others who may be looking to do something similar.

_If anyone else is out there who's reading this and is right across usi

[2020-11-30 01:06] evanderkoogh opened #41 "Disable E-Tag generation in preview renderer"
Can be done by `app.disable('etag')`

[2020-12-07 02:05] evolve2k commented on #40
For anyone following along here rough intructions on implementing this.
Refs
[1] https://blog.s1h.org/github-actions-webhook/
[2] http://www.btellez.com/posts/triggering-github-actions-with-webhooks.html

### 1. Add .github/publish.yml to your repo.

Here's the code:

[code]

### 2. Create Github Personal Access Token with Workflow Permissions

In github, click your face > Settings > Developer Set

[2020-12-07 02:11] evolve2k commented on #40
Thanks for your help Glen 👍

[2020-12-07 02:11] #40 closed, assigned to nobody

[2020-12-07 10:41] geelen commented on #40
Oh that's awesome! I think that's worth an entry on the docs!

[2020-12-08 02:47] evolve2k commented on #38
Just giving this one a bump :)

[2020-12-09 21:26] evanderkoogh commented on #38
Hey @evolve2k, just clarifying what you need help with. Getting it working in your own application, or are you looking for the plugin?

[2020-12-10 04:53] evolve2k commented on #38
Developing a fab plugin is a bit outside where I'm up to right now.
Hoping for a plugin from you fine folks.

To make my pitch again; being able to support custom security headers is a generalised feature that should be of benefit to most fab users.

Hoping it can go onto your teams priority list to resolve.

[2020-12-23 14:56] ClementParis016 opened #42 "Error releasing to Cloudflare Workers"
Hello 👋🏻

**Describe the bug**
I triggered a production deployment earlier today which is running successfully in production, but on Linc.sh UI I have the following error message ever since:

![image](https://user-images.githubusercontent.com/5601687/103009366-f7085100-4536-11eb-8364-c1c8a02e8c07.png)

I did check the deployment configuration as explained in the error message and everything looks

[2021-01-05 18:38] louisthomas commented on #42
I have the same issue.

[code]

[2021-06-24 00:52] cabello opened #43 "Specify node version"
Hi 👋, my package json contains:

[code]

I set the environment variable `NODE_VERSION` to `16.3.0`.
I set `.node-version` content to `16.3.0`
I set `.tool-versions` content to `nodejs 16.3.0` (asdf version manager)

While trying to do my first build I get the following:

[code]

**Expected behavior**
To some of these options to enforce the correct node version, 16.

Thank you 🙇
I appreciate you lo

[2021-09-15 07:46] nberlette opened #44 "Broken “Live Demo” Footer Link"
**Describe the bug**
On the main `linc.sh` site, the `Live Demo` link in the footer doesn't resolve. It appears to be a redirect issue, most likely a typo somewhere, as the final URL it brings the client to is `https://linc-front-end--demosh/[...]`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [linc.sh/blog](https://linc.sh/blog) (mobile)
2. Scroll down to 'Linc' footer section
3. C

[2022-04-25 10:20] #39 closed, assigned to nobody

[2022-05-20 04:24] qnm opened #45 "Is this the end? Linc Preview Workers are not responding."
**Describe the bug**
A PR will deploy to a `linc` preview URL.

This has worked until today. Here's what I see:

![image](https://user-images.githubusercontent.com/5343/169450063-d113365f-4a26-4f95-8acb-99ce8bed0471.png)

Cloudflare Pages isn't quite as complete as Linc is/was - particular around multiple environments. The Preview / Production distinction that Pages has isn't as flexible as Enviro

[2022-05-20 13:25] evanderkoogh commented on #45
Hey @qnm.. While there are indeed plans to phase out Linc over the next few weeks/months, it is certainly not our intention to stop so suddenly and without any warning.

We did do a whole bunch of transfers of our domains from the Linc AWS account to the Cloudflare account and something might have gone wrong there. I am going to figure that out.. and then lets chat later in the week about the near

[2022-05-24 09:14] #45 closed, assigned to nobody